<section class="bg-alto-50 text-gray-700 dark:bg-bray-600 dark:text-gray-200">
  <div class="container px-6 py-12 mx-auto">
    <div class="grid items-center gap-4 xl:grid-cols-5">
      <div
        class="max-w-2xl mx-auto my-8 space-y-4 text-center xl:col-span-2 xl:text-left"
      >
        <h2 class="text-4xl font-bold">Feedback</h2>
        <p class="text-gray-700 dark:text-gray-300">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa
          molestias aliquam perferendis dolorem. Officiis aspernatur.
        </p>
      </div>
      <div class="p-6 xl:col-span-3">
        <div class="grid gap-4 md:grid-cols-2">
          <div class="grid content-center gap-4">
            <div
              class="p-6 rounded dark:bg-bray-500 dark:border-bray-300 dark:text-gray-200 bg-alto-50"
            >
              <p>
                <strong class="text-royal">JaysUI</strong>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
              <div class="flex items-center mt-4 space-x-4">
                <img
                  src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dXNlciUyMHByb2ZpbGV8ZW58MHx8MHx8&w=1000&q=80"
                  alt=""
                  class="w-12 h-12 object-cover bg-center bg-cover rounded-full bg-alto-500"
                />
                <div>
                  <p class="text-lg font-semibold text-royal-600">Bob Morley</p>
                  <p class="text-sm text-gray-700 dark:text-gray-300">
                    Engineer
                  </p>
                </div>
              </div>
            </div>
            <div
              class="p-6 rounded dark:bg-bray-500 dark:border-bray-300 dark:text-gray-200 bg-alto-50"
            >
              <p>
                <strong class="text-royal">JaysUI</strong>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
              <div class="flex items-center mt-4 space-x-4">
                <img
                  src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cHJvZmlsZXxlbnwwfHwwfHw%3D&w=1000&q=80"
                  alt=""
                  class="w-12 h-12 object-cover bg-center bg-cover rounded-full bg-alto-500"
                />
                <div>
                  <p class="text-lg font-semibold text-royal-600">Bob Morley</p>
                  <p class="text-sm text-gray-700 dark:text-gray-300">
                    Engineer
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="grid content-center gap-4">
            <div
              class="p-6 rounded dark:bg-bray-500 dark:border-bray-300 dark:text-gray-200 bg-alto-50"
            >
              <p>
                <strong class="text-royal">JaysUI</strong>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
              <div class="flex items-center mt-4 space-x-4">
                <img
                  src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fHByb2ZpbGV8ZW58MHx8MHx8&w=1000&q=80"
                  alt=""
                  class="w-12 h-12 object-cover bg-center bg-cover rounded-full bg-alto-500"
                />
                <div>
                  <p class="text-lg font-semibold text-royal-600">Bob Morley</p>
                  <p class="text-sm text-gray-700 dark:text-gray-300">
                    Engineer
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
