<div class="w-full mt-10 justify-center items-center text-gray-600">
    <div class="w-full px-4 md:px-7">
        <h1 class="dark:text-gray-100 text-3xl font-bold ">Pricing</h1>
        <h2 class="text-royal-300">Starting from 5$/mo</h2>
    </div>
    <div class="w-full mt-5 grid-cols-1 mb-5 md:grid-cols-2 lg:grid-cols-3 grid gap-5 px-4 md:px-7">
        <div>
            <div
                class="border-2 text-sm dark:border-bray-300 py-3 bg-white shadow-lg dark:bg-bray-500 border-transparent px-3 rounded-md">
                <h1
                    class=" text-gray-600 font-bold dark:text-gray-300 text-2xl border-gray-200 dark:border-bray-300 py-1">
                    Basic</h1>
                <p class="dark:text-gray-400">Here your can write a small, meaningful description about your product.
                </p>
                <div class="text-sm mt-5 space-y-1">
                    <p class="text-gray-500 dark:text-gray-400 flex space-x-1">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="text-royal h-5 w-5" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                            </svg>
                        </span>
                        <span>Built-in Tools</span>
                    </p>
                    <p class="text-gray-400 dark:text-gray-500 flex space-x-1">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="text-royal h-5 w-5" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </span>
                        <span>Custom Machine</span>
                    </p>
                    <p class="text-gray-500 dark:text-gray-400 flex space-x-1">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="text-royal h-5 w-5" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                            </svg>
                        </span>
                        <span>Pre-installed VPS</span>
                    </p>
                    <p class="text-gray-400 dark:text-gray-500 flex space-x-1">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="text-royal h-5 w-5" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </span>
                        <span>Admin Panel Access</span>
                    </p>
                    <p class="text-gray-500 dark:text-gray-400 flex space-x-1">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="text-royal h-5 w-5" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                            </svg>
                        </span>
                        <span>File Manager</span>
                    </p>
                    <p class="text-gray-400 dark:text-gray-500 flex space-x-1">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="text-royal h-5 w-5" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </span>
                        <span>24/7 Support</span>
                    </p>
                    <p class="text-gray-400 dark:text-gray-500 flex space-x-1">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="text-royal h-5 w-5" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </span>
                        <span>Root Access</span>
                    </p>
                    <p class="text-gray-400 dark:text-gray-500 flex space-x-1">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="text-royal h-5 w-5" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </span>
                        <span>Unlimited Sites</span>
                    </p>
                </div>
                <div class="w-full mt-8">
                    <h2 class="text-gray-700 dark:text-gray-300"><span
                            class="text-royal text-2xl font-bold">5$</span>/<span>mo</span></h2>
                </div>
                <div class="w-full mt-2 space-y-1">
                    <button
                        class="w-full dark:bg-bray-400 border-2 dark:border-bray-300 border-transparent rounded-md py-2 bg-gray-600 text-white">Try
                        out</button>
                    <button class="w-full bg-royal rounded-md py-2 text-white">Buy now</button>
                </div>
            </div>
        </div>

        <div>
            <div
                class="border-2 text-sm dark:border-bray-300 py-3 bg-white shadow-lg dark:bg-bray-500 border-transparent px-3 rounded-md">
                <h1
                    class=" text-gray-600 font-bold dark:text-gray-300 text-2xl border-gray-200 dark:border-bray-300 py-1">
                    Advanced</h1>
                <p class="dark:text-gray-400">Here your can write a small, meaningful description about your product.
                </p>
                <div class="text-sm mt-5 space-y-1">
                    <p class="text-gray-500 dark:text-gray-400 flex space-x-1">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="text-royal h-5 w-5" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                            </svg>
                        </span>
                        <span>Built-in Tools</span>
                    </p>
                    <p class="text-gray-500 dark:text-gray-400 flex space-x-1">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="text-royal h-5 w-5" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                            </svg>
                        </span>
                        <span>Custom Machine</span>
                    </p>
                    <p class="text-gray-500 dark:text-gray-400 flex space-x-1">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="text-royal h-5 w-5" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                            </svg>
                        </span>
                        <span>Pre-installed VPS</span>
                    </p>
                    <p class="text-gray-500 dark:text-gray-400 flex space-x-1">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="text-royal h-5 w-5" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                            </svg>
                        </span>
                        <span>Admin Panel Access</span>
                    </p>
                    <p class="text-gray-400 dark:text-gray-500 flex space-x-1">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="text-royal h-5 w-5" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </span>
                        <span>IP Pool</span>
                    </p>
                    <p class="text-gray-500 dark:text-gray-400 flex space-x-1">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="text-royal h-5 w-5" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                            </svg>
                        </span>
                        <span>File Manager</span>
                    </p>
                    <p class="text-gray-500 dark:text-gray-400 flex space-x-1">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="text-royal h-5 w-5" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                            </svg>
                        </span>
                        <span>24/7 Support</span>
                    </p>
                    <p class="text-gray-500 dark:text-gray-400 flex space-x-1">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="text-royal h-5 w-5" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                            </svg>
                        </span>
                        <span>Root Access</span>
                    </p>
                    <p class="text-gray-500 dark:text-gray-400 flex space-x-1">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="text-royal h-5 w-5" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                            </svg>
                        </span>
                        <span>Unlimited Sites</span>
                    </p>
                    <p class="text-gray-400 dark:text-gray-500 flex space-x-1">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="text-royal h-5 w-5" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </span>
                        <span>Extra Locations</span>
                    </p>
                </div>
                <div class="w-full mt-8">
                    <h2 class="text-gray-700 dark:text-gray-300"><span
                            class="text-royal text-2xl font-bold">15$</span>/<span>mo</span></h2>
                </div>
                <div class="w-full mt-2 space-y-1">
                    <button
                        class="w-full dark:bg-bray-400 border-2 dark:border-bray-300 border-transparent rounded-md py-2 bg-gray-600 text-white">Try
                        out</button>
                    <button class="w-full bg-royal rounded-md py-2 text-white">Buy now</button>
                </div>
            </div>
        </div>

        <div>
            <div
                class="border-2 text-sm dark:border-bray-300 py-3 bg-white shadow-lg dark:bg-bray-500 border-transparent px-3 rounded-md">
                <h1
                    class=" text-gray-600 font-bold dark:text-gray-300 text-2xl border-gray-200 dark:border-bray-300 py-1">
                    Elite</h1>
                <p class="dark:text-gray-400">Here your can write a small, meaningful description about your product.
                </p>
                <div class="text-sm mt-5 space-y-1">
                    <p class="text-gray-500 dark:text-gray-400 flex space-x-1">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="text-royal h-5 w-5" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                            </svg>
                        </span>
                        <span>Built-in Tools</span>
                    </p>
                    <p class="text-gray-500 dark:text-gray-400 flex space-x-1">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="text-royal h-5 w-5" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                            </svg>
                        </span>
                        <span>Custom Machine</span>
                    </p>
                    <p class="text-gray-500 dark:text-gray-400 flex space-x-1">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="text-royal h-5 w-5" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                            </svg>
                        </span>
                        <span>Pre-installed VPS</span>
                    </p>
                    <p class="text-gray-500 dark:text-gray-400 flex space-x-1">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="text-royal h-5 w-5" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                            </svg>
                        </span>
                        <span>Admin Panel Access</span>
                    </p>
                    <p class="text-gray-500 dark:text-gray-400 flex space-x-1">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="text-royal h-5 w-5" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                            </svg>
                        </span>
                        <span>IP Pool</span>
                    </p>
                    <p class="text-gray-500 dark:text-gray-400 flex space-x-1">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="text-royal h-5 w-5" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                            </svg>
                        </span>
                        <span>File Manager</span>
                    </p>
                    <p class="text-gray-500 dark:text-gray-400 flex space-x-1">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="text-royal h-5 w-5" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                            </svg>
                        </span>
                        <span>24/7 Support</span>
                    </p>
                    <p class="text-gray-500 dark:text-gray-400 flex space-x-1">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="text-royal h-5 w-5" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                            </svg>
                        </span>
                        <span>Root Access</span>
                    </p>
                    <p class="text-gray-500 dark:text-gray-400 flex space-x-1">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="text-royal h-5 w-5" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                            </svg>
                        </span>
                        <span>Unlimited Sites</span>
                    </p>
                    <p class="text-gray-500 dark:text-gray-400 flex space-x-1">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="text-royal h-5 w-5" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                            </svg>
                        </span>
                        <span>Extra Locations</span>
                    </p>
                </div>
                <div class="w-full mt-8">
                    <h2 class="text-gray-700 dark:text-gray-300"><span
                            class="text-royal text-2xl font-bold">25$</span>/<span>mo</span></h2>
                </div>
                <div class="w-full mt-2 space-y-1">
                    <button
                        class="w-full dark:bg-bray-400 border-2 dark:border-bray-300 border-transparent rounded-md py-2 bg-gray-600 text-white">Try
                        out</button>
                    <button class="w-full bg-royal rounded-md py-2 text-white">Buy now</button>
                </div>
            </div>
        </div>

    </div>
</div>