<div
  class="w-full justify-center items-center bg-gray-50 dark:bg-transparent h-screen py-16 text-gray-600"
>
  <div class="w-full flex flex-wrap justify-center">
    <div
      class="w-full sm:w-8/12 md:w-6/12 lg:w-5/12 xl:w-4/12 px-3 py-3 dark:bg-bray-500 sm:rounded-md bg-white shadow border-transparent dark:border-bray-300 border-2"
    >
      <h1 class="dark:text-gray-300 text-gray-700 font-bold text-xl">
        Register
      </h1>

      <div class="mt-5 space-y-2">
        <input
          type="text"
          placeholder="Username"
          class="bg-gray-50 dark:bg-bray-400 text-sm px-3 text-gray-300 rounded-md border-transparent dark:border-bray-300 border-2 py-2 w-full"
        />
        <input
          type="email"
          placeholder="Email"
          class="bg-gray-50 dark:bg-bray-400 text-sm px-3 text-gray-300 rounded-md border-transparent dark:border-bray-300 border-2 py-2 w-full"
        />
        <input
          type="password"
          placeholder="Password"
          class="bg-gray-50 dark:bg-bray-400 text-sm px-3 text-gray-300 rounded-md border-transparent dark:border-bray-300 border-2 py-2 w-full"
        />
      </div>

      <div class="mt-5 text-sm grid-cols-2 items-center flex grid">
        <div class="flex space-x-1 items-center">
          <input
            type="checkbox"
            class="bg-bray-400 border-bray-300 accent-royal"
            checked
          />
          <h3 class="dark:text-gray-400">Remember Me</h3>
        </div>
        <div class="items-center">
          <a href="#" class="float-right text-royal">Login instead?</a>
        </div>
      </div>

      <div class="mt-5">
        <button class="py-2 w-full text-white bg-royal rounded-md">
          Register
        </button>
      </div>

      <div class="border-b-2 border-gray-100 dark:border-bray-300 mt-2"></div>

      <div class="mt-2 grid-cols-2 grid">
        <button
          class="py-2 items-center flex space-x-1 text-center justify-center text-sm w-full text-gray-600 dark:text-white border-transparent border-2 dark:border-bray-300 border-gray-300 dark:bg-bray-400 bg-gray-100 rounded-l"
        >
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                d="M3 12v3c0 1.657 3.134 3 7 3s7-1.343 7-3v-3c0 1.657-3.134 3-7 3s-7-1.343-7-3z"
              />
              <path
                d="M3 7v3c0 1.657 3.134 3 7 3s7-1.343 7-3V7c0 1.657-3.134 3-7 3S3 8.657 3 7z"
              />
              <path
                d="M17 5c0 1.657-3.134 3-7 3S3 6.657 3 5s3.134-3 7-3 7 1.343 7 3z"
              />
            </svg>
          </span>
          <span>Button 1</span>
        </button>
        <button
          class="py-2 items-center flex space-x-1 text-center justify-center text-sm w-full text-gray-600 dark:text-white border-transparent border-b-2 border-t-2 border-r-2 dark:border-bray-300 border-gray-300 dark:bg-bray-400 bg-gray-100 rounded-r"
        >
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                d="M11 17a1 1 0 001.447.894l4-2A1 1 0 0017 15V9.236a1 1 0 00-1.447-.894l-4 2a1 1 0 00-.553.894V17zM15.211 6.276a1 1 0 000-1.788l-4.764-2.382a1 1 0 00-.894 0L4.789 4.488a1 1 0 000 1.788l4.764 2.382a1 1 0 00.894 0l4.764-2.382zM4.447 8.342A1 1 0 003 9.236V15a1 1 0 00.553.894l4 2A1 1 0 009 17v-5.764a1 1 0 00-.553-.894l-4-2z"
              />
            </svg>
          </span>
          <span>Button 2</span>
        </button>
      </div>
    </div>
  </div>
</div>
